body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  p {
    color: red;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  footer {
    color: coral;
    margin: auto;
    padding-top: 25%;
    text-align: left;
  }
  h5{
    color: rebeccapurple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: auto;
    text-align: center;
  }
