body {
    background-color: powderblue;
    margin: auto;
  }
  h1 {
    color: blue;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  h2 {
    color: gold;
    margin: auto;
    font-size: 50px;
    text-shadow: 2px 2px black;
    box-shadow: 3px 3px black;
    padding: 20px;
    text-align: center;
  }
  p {
    color: red;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  footer {
    color: coral;
    text-align: center;
    padding-top: 20%;
  }
  h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
  }
