/*
============================================================
THIS SECTION IS FOR FONTS
============================================================
*/
@font-face {
  font-family: "BlueberryCorporate";
  src: url(../../../Data/Fonts/CorporateFont/BlueberryDevFont_LN.otf);
}
@media screen and (max-width: 1100px) {
  .Studios-HeaderImage-Mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .studios-header {
    width: 100%;
  }
  .Studios-HeaderImage {
    display: none;
  }
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  body {
    width: 100%;
  }
  .studios-navbar {
    display: none;
  }
  .navSidebar {
    width: 50%;
    border-radius: 12px;
    background-color: #333;
  }
  .navSidebar a {
    color: white;
    text-decoration: none;
  }
  .navSidebarClosingXContainer {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-family: BlueberryCorporate;
    font-size: 5vh;
  }
  .navSidebarButton {
    width: 100%;
  }
  .navSidebarButton {
    color: white;
    background-color: #333;
    border: none;
    padding: 15px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }
  .BannerImage {
    width: 30%;
  }
  .Employee-Image {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (min-width: 1101px) {
  .Studios-HeaderImage-Mobile {
    display: none;
  }
  .navSidebar {
    display: none;
  }
  .navSidebarButton {
    display: none;
  }
  .Studios-HeaderImage {
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
  body {
    width: 100%;
  }
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .Employee-Image {
    display: block;
    width: auto;
    height: auto;
    width: 10%;
    height: 10%;
  }
}
/* BROWSER RESETS */
body {
  margin-top: 0;
}
/*
  ============================================================
  ============================================================
  THIS SECTION IS FOR THE HEAD, HEADER, AND NAVBARS
  ============================================================
  ============================================================
  */
header {
  width: 100%;
}
.studios-header {
  position: relative;
  width: 80%;
  height: auto;
  margin: 1.5% auto;
  margin-bottom: 0;
}

.studios-navbar {
  position: relative;
  background-color: #333;
  overflow: hidden;
  border-radius: 12px;
}

.studios-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: BlueberryCorporate;
}

.studios-navbar a:hover {
  background-color: #ddd;
  color: black;
}

.studios-navbar a:active {
  background-color: #13b2ce;
  color: black;
}

.studios-navbar-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.studios-navbar-right {
  float: right;
}

.studios-banner {
  background-color: #333333;
  text-align: center;
  height: auto;
  margin: 0;
  border-radius: 0px 0px 20px 20px;
  padding: 0;
}
.studios-banner a {
  font-family: BlueberryCorporate;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

/*
  ============================================================
  ============================================================
  INDEX.HTML
  ============================================================
  ============================================================
  */
main {
  width: 100%;
}
.studios-index-html-body {
  font-family: BlueberryCorporate;
  padding-top: 10%;
  scroll-behavior: smooth;
  background-color: var(#f5f5f5);
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  -webkit-user-drag: none;
  color: var(black);
}
.studios-index-html-main {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.studios-index-html-p {
  font-family: BlueberryCorporate;
  font-size: 50px;
}
.studios-index-html-footer {
  font-family: BlueberryCorporate;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: auto;
  text-align: center;
  text-decoration: none;
}
.studios-index-html-p-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: BlueberryCorporate;
}
.studios-index-html-p-date {
  font-family: BlueberryCorporate;
  font-size: 35px;
}
.studios-index-html-p-desc {
  font-family: BlueberryCorporate;
  font-size: 25px;
}
/*
  ============================================================
  ============================================================
  CHANGELOG.HTML
  ============================================================
  ============================================================
  */
.studios-changelog-html-main {
  position: relative;
  font-family: BlueberryCorporate;
  font-size: 25px;
  width: 75%;
  margin: 0 auto;
}
/*
  ============================================================
  ============================================================
  ABOUTUS.HTML
  ============================================================
  ============================================================
  */
.studios-aboutus-html-main {
  position: relative;
  width: 75%;
  margin: 0 auto;
  font-family: BlueberryCorporate;
}
/*
  ============================================================
  ============================================================
  CONTACTUS.HTML
  ============================================================
  ============================================================
  */
.studios-contactus-html-main {
  font-family: BlueberryCorporate;
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
}
/*
  ============================================================
  ============================================================
  GAMES.HTML
  ============================================================
  ============================================================
  */
.studios-games-html-main {
  font-family: BlueberryCorporate;
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
}
.studios-games-header {
  font-size: 50px;
  font-family: BlueberryCorporate;
  margin-bottom: 20px;
}
.studios-games-develop-header {
  display: inline-block;
  font-family: BlueberryCorporate;
  font-size: 40px;
  margin-bottom: 20px;
}
.studios-games-develop-header:after {
  font-family: BlueberryCorporate;
  content: "";
  display: block;
  border-top: 1.8px solid black;
  margin-top: 0.1em;
}
.studios-games-develop-desc {
  font-family: BlueberryCorporate;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 30px;
}
/*
  ============================================================
  ============================================================
  QUESTIONS.HTML
  ============================================================
  ============================================================
  */
.studios-questions-html-main {
  font-family: BlueberryCorporate;
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
}
/*
============================================================
============================================================
PHONE_CSS
============================================================
============================================================
*/
@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
  header {
    max-width: 100%;
  }
}
