@media screen and (max-width: 950px) {
  .Mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #333;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .PC-Form-Desktop {
    display: none;
  }

  .Mobile-Header {
    overflow: hidden;
    background-color: #333;
    position: relative;
    padding: 10px 16px;
    margin: auto;
    background: #333;
    color: #f1f1f1;
  }

  .Mobile-Header #Nav-Links {
    display: none;
  }

  .Mobile-Header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .Mobile-Header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .Mobile-Header a:hover {
    background-color: #333;
    color: black;
  }

  .active {
    background-color: #333;
    color: white;
  }
  .Logo-Image {
    height: 10%;
    width: 10%;
  }
  .sticky {
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .sticky + .content {
    padding-top: 100px;
  }
  .Mobile-Logo {
    width: 10%;
    height: 10%;
    vertical-align: middle;
    position: relative;
    float: left;
  }
  
}
body {
  margin: 0;
}
