:root{
	--main-bg: #f5f5f5;
	--main-text: black;
	--alt-bg: #121212;
	--alt-text: #f5f5f5;
}

@font-face {
	font-family: "BlueberryCorporate";
	src: url(../Fonts/CorporateFont/BlueberryDevFont_LN.otf);
}

body {
    font-family: BlueberryCorporate;
    scroll-behavior: smooth;
    background-color: var(--main-bg);
    overflow-x: hidden;
    user-select: none;
    -webkit-user-drag: none;
    color: var(--main-text);
}

header img {
	max-width: 20%;
	margin-top:  2.5%;
	margin-bottom: 5%;
	user-select: none;
	-webkit-user-drag: none;
}

img {
    max-width: 55%;
    height: auto;
    width: auto\9; /* ie8 */
}

#content {
	margin-left: 2.5%;
	font-family: BlueberryCorporate;
	font-size:  30px;
	width: 50%;
	margin-top:  5%;
}
#logo{
	text-align: left;
	margin-left: 15%;
	font-size:  6vw;

	font-family: BlueberryCorporate;
}

h1 {
	font-weight: normal;
}

/* Side Dropdown*/
.dropdown{
	position: relative;
	display: inline-block;
}

.Buttons{
	display: none;
	position: absolute;
	background-color: var(--main-bg);
	min-width: 50px;
	box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.2);
  	padding: 5px 50px;
  	z-index: 1;
  	border-radius: 25px;
}
.dropdown:hover .Buttons{
	margin-left: 2%;
	display: inline-block;
}
.button {
  background-color: var(--main-bg);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: var(--main-text);
}