@font-face {
	font-family: "JetBrainsMono";
	src: url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-2.ttf),
     url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Medium.ttf),
	url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Bold.ttf),
	url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-BoldItalic.ttf),
	url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Light.ttf),
	url(../Fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-LightItalic.ttf);
}

body {
    font-family: "JetBrainsMono";
    scroll-behavior: smooth;
    background-color: #1E1E1E;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-drag: none;
    color: white;
}

header img {
	max-width: 20%;
	margin-top:  2.5%;
	margin-bottom: 5%;
	user-select: none;
	-webkit-user-drag: none;
}

#content {
	margin-left: 2.5%;
}

h2 {
	font-size: 55px;
	font-weight: lighter;
	font-style: italic;
	margin-bottom: 0;
}

h1 {
	font-size:  65px;
	font-weight:  bold;
	margin: 0;
}

p {
	font-weight:  lighter;
	font-size:  25px;
	width: 50%;
	margin-top:  5%;
}